.theme-btn {
    padding: 24;
    font-size: 18;
    color: #F0FDF4;
    background: #15803D;
    border-radius: 24;
}

Page {
    background: #14532D;
}

.theme-action-bar {
    background: #166534;
    color: white;
}