.theme-btn {
    padding: 24;
    font-size: 18;
    color: white;
    background: #B91C1C;
    border-top-right-radius: 32;
    border-bottom-left-radius: 32;
}

Page {
    background: #7F1D1D;
}

.theme-action-bar {
    background: #991B1B;
    color: white;
}