# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc

# dependencies
node_modules
package-lock.json
yarn.lock
.npmrc

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings
.history

# System Files
.DS_Store
Thumbs.db

*.tgz
packages/**/angular/dist
packages/shared-notification-delegate/common.d.ts
packages/shared-notification-delegate/common.js
packages/shared-notification-delegate/common.js.map
*.aar

!packages/google-signin/platforms/android/googlesignin-release.aar
!packages/twitter/platforms/android/twitter-release.aar
!packages/pdf/platforms/android/android-pdf-viewer-release.aar
!packages/pdf/platforms/android/PdfiumAndroid-1.0.1.aar

# iOS:
packages/**/native-src/ios/**/xcuserdata/
packages/**/native-src/ios/**/project.xcworkspace/
packages/**/native-src/ios/**/build
.nx/cache
.nx/workspace-data
