<ActionBar title="biometrics" class="action-bar"> </ActionBar>
<StackLayout class="p-20">
	<ScrollView class="h-full">
		<StackLayout>
			<Label [text]="demoShared.status" class="t-20 text-center c-black" textWrap="true"></Label>
			<Button text="Test biometrics" (tap)="demoShared.doCheckAvailable()" class="btn btn-primary"></Button>
			<Button text="Test Verify" (tap)="demoShared.doVerifyFingerprint()" class="btn btn-primary"></Button>
			<Button text="Test Verify w/ PIN Fallback" (tap)="demoShared.doVerifyFingerprintWithPinFallBack()" class="btn btn-primary"></Button>
			<Button text="Android Only Encrypt secret" (tap)="demoShared.doVerifyFingerprintWithEncrypt()" class="btn btn-primary"></Button>
			<Button text="Android Only Decrypt secret" (tap)="demoShared.doVerifyFingerprintWithDecrypt()" class="btn btn-primary"></Button>
			<TextField [(ngModel)]="demoShared.encryptedPassword"></TextField>
			<TextField [(ngModel)]="demoShared.IV"></TextField>
			<TextField [(ngModel)]="demoShared.decryptedPassword"></TextField>
		</StackLayout>
	</ScrollView>
</StackLayout>
