<ActionBar title="directions" class="action-bar"> </ActionBar>
<GridLayout rows="* auto auto">
	<ScrollView orientation="vertical">
		<StackLayout orientation="vertical" padding="15" width="100%">
			<!-- To Address -->
			<Label class="h2 text-left" text="To" horizontalAlignment="left"></Label>
			<TextField [(ngModel)]="toAddress.address" hint="Address"></TextField>
			<TextField [(ngModel)]="toAddress.lat" hint="Latitude"></TextField>
			<TextField [(ngModel)]="toAddress.lng" hint="Longitude"></TextField>

			<ng-template [ngIf]="iosOptions?.preferGoogleMaps || !isIOS">
				<GridLayout columns="auto * auto">
					<Label class="h2 text-left" text="Waypoints" horizontalAlignment="left"></Label>
					<Label col="2" class="h2 text-right" text="+" horizontalAlignment="right" (tap)="addWaypoint()"></Label>
				</GridLayout>

				<ng-template ngFor let-waypoint let-i="index" [ngForOf]="waypoints">
					<GridLayout columns="auto * auto" (tap)="removeWaypoint(i)">
						<Label class="h3 text-left" text="Waypoint {{ i + 1 }}" horizontalAlignment="left"></Label>
						<Label col="2" class="h3 text-right" text="-" horizontalAlignment="right"></Label>
					</GridLayout>
					<TextField [(ngModel)]="waypoints[i].address" hint="Address"></TextField>
					<TextField [(ngModel)]="waypoints[i].lat" hint="Latitude"></TextField>
					<TextField [(ngModel)]="waypoints[i].lng" hint="Longitude"></TextField>
				</ng-template>
			</ng-template>

			<Label class="h2 text-left" text="From" horizontalAlignment="left"></Label>
			<TextField [(ngModel)]="fromAddress.address" hint="Address"></TextField>
			<TextField [(ngModel)]="fromAddress.lat" hint="Latitude"></TextField>
			<TextField [(ngModel)]="fromAddress.lng" hint="Longitude"></TextField>
			<Label class="h2 text-left" text="Options" horizontalAlignment="left"></Label>
			<Button text="Type: {{ this.transportType }}" textWrap="true" (tap)="changeType()" class="btn btn-primary btn-outline" width="100%"></Button>

			<ng-template [ngIf]="isIOS" [ngIfElse]="android">
				<GridLayout columns="auto, *, auto" rows="auto, auto, auto">
					<Label class="text-left" horizontalAlignment="left" text="Prefer Google Maps"></Label>
					<Switch col="2" [(ngModel)]="iosOptions.preferGoogleMaps" marginTop="15"></Switch>
					<Label class="text-left" horizontalAlignment="left" row="1" text="Allow Google Maps Web"></Label>
					<Switch row="1" col="2" [(ngModel)]="iosOptions.allowGoogleMapsWeb" marginTop="15"></Switch>
					<Label class="text-left" horizontalAlignment="left" row="2" text="Use Universal Scheme"></Label>
					<Switch row="2" col="2" [(ngModel)]="useUniversal" marginTop="15"></Switch>
				</GridLayout>
			</ng-template>
			<ng-template #android>
				<GridLayout columns="auto, *, auto" rows="auto, auto">
					<Label class="text-left" horizontalAlignment="left" text="New Task"></Label>
					<Switch col="2" [(ngModel)]="androidOptions.newTask" marginTop="15"></Switch>
					<Label class="text-left" horizontalAlignment="left" row="2" text="Use Universal Scheme"></Label>
					<Switch row="2" col="2" [(ngModel)]="useUniversal" marginTop="15"></Switch>
				</GridLayout>
			</ng-template>
		</StackLayout>
	</ScrollView>

	<Button row="1" text="Check Availability" (tap)="demoShared.doCheckAvailable()" class="btn btn-primary btn-blue" width="100%" margin="0"></Button>

	<button row="2" text="Navigate" (tap)="onNavigate()" class="btn btn-primary" width="100%" margin="0"></button>
</GridLayout>
