<ActionBar title="picker" class="action-bar"> </ActionBar>
<StackLayout class="p-20">
	<ScrollView class="h-full">
		<StackLayout>
			<PickerField hint="Click here" class="picker-field" padding="10" textField="name" (pickerOpened)="demoShared.pickerOpened($event)" [pickerTitle]="'Select item from list'" iOSCloseButtonIcon="14" iOSCloseButtonPosition="left" androidCloseButtonPosition="navigationButton" androidCloseButtonIcon="ic_menu_back" (pickerClosed)="demoShared.pickerClosed($event)" [items]="demoShared.observableDataItems">
				<ng-template let-item="item">
					<GridLayout columns="auto, *" rows="auto, *">
						<Label text="Static text:" col="0" class="item-template-top-label"></Label>
						<Label [text]="item.name" col="0" row="1" class="item-template-label red-label" marginBottom="20"></Label>
						<Image [src]="item.imageUrl" col="1" row="0" rowSpan="2" class="item-template-picture"></Image>
					</GridLayout>
				</ng-template>
			</PickerField>
		</StackLayout>
	</ScrollView>
</StackLayout>
