<ActionBar title="secure-storage" class="action-bar"> </ActionBar>
<StackLayout class="p-20">
	<Page>
		<ScrollView>
			<StackLayout>
				<Button text="Set a value, sync" (tap)="demoShared.doSetSync()" class="btn btn-primary button-a button-group-first"></Button>
				<Button text="Set a value, async" (tap)="demoShared.doSet()" class="btn btn-primary button-a"></Button>

				<Button text="Get a value, sync" (tap)="demoShared.doGetSync()" class="btn btn-primary button-b button-group-first"></Button>
				<Button text="Get a value, async" (tap)="demoShared.doGet()" class="btn btn-primary button-b"></Button>

				<Label [text]="demoShared.lastRetrievedValue" class="message" textWrap="true"></Label>

				<Button text="Remove a value, sync" (tap)="demoShared.doRemoveSync()" class="btn btn-primary button-c"></Button>
				<Button text="Remove a value, async" (tap)="demoShared.doRemove()" class="btn btn-primary button-c"></Button>

				<Button text="Remove all values, sync" (tap)="demoShared.doRemoveAllSync()" class="btn btn-primary button-d button-group-first"></Button>
				<Button text="Remove all values, async" (tap)="demoShared.doRemoveAll()" class="btn btn-primary button-d"></Button>
			</StackLayout>
		</ScrollView>
	</Page>
</StackLayout>
