.message {
	color: #666;
	font-size: 16;
	padding: 20;
}

button {
	color: #ffffff;
	background-color: #6494aa;
	padding: 6;
	margin: 8 24;
	font-size: 14;
	border-radius: 4;
}

.button-group-first {
	margin-top: 24;
}

.button-a {
	background-color: cornflowerblue;
}

.button-b {
	background-color: forestgreen;
}

.button-c {
	background-color: orange;
}

.button-d {
	background-color: red;
}
