@import 'nativescript-theme-core/scss/light';
@import 'nativescript-theme-core/scss/index';

Button {
	text-transform: none;
	height: 54;
	android-elevation: 0;
	android-dynamic-elevation-offset: 0;
	padding: 0;
	margin: 0;

	&.btn {
		padding: 0;
		margin: 2 0 2 0;

		&.btn-primary {
			background-color: rgb(95, 185, 249);
		}
	}
}
TextField {
	border-bottom-width: 1;
	border-bottom-color: transparent;
	font-size: 17;
	placeholder-color: rgb(201, 201, 201);
	padding-top: 0;
	padding-bottom: 0;
	margin-top: 0;
	margin-bottom: 0;
	height: 29;
}

TextView {
	font-size: 13;
	padding: 6 0;
}

// TextField {
//   font-size: 13;
//   padding: 6;
// }

Label.scroll-text {
	font-size: 13;
	color: #777;
	margin: 12 0;
}

.toolbar {
	background-color: #f6f6f6;
	border-color: #c6c6c6;
	border-top-width: 1px;
}

.toolbar.toolbar-twitter {
	background-color: #eaf4fa;
	border-color: #cbe3f5;
}

.toolbar Label {
	color: #777;
	padding: 5 13;
	text-align: center;
	vertical-align: center;
}

.toolbar.toolbar-twitter Label {
	color: #4594da;
}

.toolbar Button {
	border-radius: 1;
}

.toolbar Label.email-valid {
	color: green;
}

.toolbar Label.email-invalid {
	color: red;
}

.toolbar Label.price-picker {
	color: #327bf6;
	font-size: 13;
	border-radius: 50%;
	border-width: 1;
	border-color: #c9c9c9;
	padding: 4 6;
	margin: 0 6;
}

.toolbar Slider {
	margin-bottom: 10;
}

.toolbar Label.slider-label {
	font-size: 11;
	font-weight: bold;
	color: #327bf6;
}

.toolbar Label.slider-min-max {
	font-size: 13;
	padding-bottom: 10;
}

.icon {
	font-family: 'Linearicons-Free';
	font-size: 24;
	padding: 0 10;
}

Label.icon-trash {
	font-size: 20;
	color: red;
}
