/* Resets */
* {
	/* @apply font-normal; */
	font-weight: normal;
	/* horizontal-alignment: 'left'; */
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 0;
	padding-right: 0;
	padding-top: 0;
	padding-bottom: 0;
}

Label {
	/* @apply align-top; */
	vertical-align: middle;
}

/**
  *   1. set a default size for the ActivityIndicator to be similar on ios/android
  */
ActivityIndicator {
	/* @apply h-6 w-6; /* 1 */
	height: 24;
	width: 24;
}

Button {
	/* @apply rounded-none border-0 bg-transparent normal-case; */
	border-radius: 0;
	border-width: 0;
	background: transparent;
	text-transform: capitalize;
	min-width: 0;
	min-height: 0;
	android-elevation: 0;
	android-dynamic-elevation-offset: 0;
}

TextField,
TextView {
	/* @apply bg-transparent text-base; */
	background-color: transparent;
	font-size: 16;
	placeholder-color: rgb(142, 142, 142); /*theme('colors.gray.400');*/
}
/* END Resets */

@tailwind base;
@tailwind components;
@tailwind utilities;

.v-top {
	vertical-align: top;
}

.h-center {
	horizontal-align: center;
}
.h-right {
	horizontal-align: right;
}
.h-left {
	horizontal-align: left;
}
